* {
    box-sizing: border-box;
}
body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: auto;
    font-family: "roboto", sans-serif;
}
#contenedor {
width: 75%;
max-width: 960px;
margin: 0 auto;
padding: 5%;
background-color: rgb(24, 46, 94);
border: 1rem white double;
color: white;
}
h1, h2, h3 {
    font-family: "lato", "roboto", sans-serif;
    font-size: 1.5rem;
}
header {
    text-align: center;
    font-size: 2rem;
}
blockquote {
    width: 50%;
    margin: auto;
    font-style: oblique;
    font-weight: light;
    font-size: 1rem;
}

/*menu de navegación*/
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;   
}
nav li{
    display: inline-block;
}
nav a{
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}
nav a:link {
    background-color:rgb(83, 94, 156);
    color:beige;
}
nav a:visited {
    background-color:rgb(83, 127, 156);
    color:beige;
}
nav a:hover {
    background-color:rgb(118, 128, 184);
    color:beige;
    font-style: italic;
}
nav a:active {
    background-color: beige;
    color: rgb(155, 174, 214);
}

