* {
    box-sizing: border-box;
}
body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: auto;
    font-family: "roboto", sans-serif;
}
#contenedor {
width: 75%;
max-width: 960px;
margin: 0 auto;
padding: 5%;
background-color: rgb(24, 46, 94);
border: 1rem white double;
color: white;
}
/*header*/
header {
    text-align: center;
    font-size: 1.8rem;
    font-family: "lato", "roboto", sans-serif;
}
header h2{
    font-size: 1.5rem;
}
blockquote {
    width: 50%;
    margin: auto;
    padding: 1rem;
    font-style: oblique;
    font-weight: light;
    font-size: 1rem;
    background-color: rgb(118, 128, 184);
}

/*menu de navegación*/
nav ul{
    margin: 2rem;
    padding: 0;
    list-style-type: none;   
}
nav li{
    display: inline-block;
}
nav a{
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}
nav a:link {
    background-color:rgb(83, 94, 156);
    color:beige;
}
nav a:visited {
    background-color:rgb(83, 127, 156);
    color:beige;
}
nav a:hover {
    background-color:rgb(118, 128, 184);
    color:beige;
    font-style: italic;
}
nav a:active {
    background-color: beige;
    color: rgb(155, 174, 214);
}

/*imagenes*/
img#principal{
    display: block;
    margin:auto;
    border: none;
}
#imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 1%
}
img{
    margin: 1%;
     border: 0.5rem rgb(155, 174, 214) solid;
}
#video {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/*main*/
footer {
    width: 100%;
    background-color: rgb(169, 189, 201);
    color:black;
    padding: 1rem;
    margin: 0;
}